<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Clash Dash Widget</string>
	<key>CFBundleIdentifier</key>
	<string>ym.si.clashdash.WidgetExtension</string>
	<key>CFBundleName</key>
	<string>Clash Dash Widget</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSLiveActivityAttributes</key>
	<dict>
		<key>ClashSpeedAttributes</key>
		<dict>
			<key>NSLiveActivityContentMarginsDisabled</key>
			<false/>
			<key>NSLiveActivityDismissalPolicy</key>
			<string>After</string>
			<key>NSLiveActivityVisualPriority</key>
			<string>High</string>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>ym.si.clashdash.updateLiveActivity</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>16.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
</dict>
</plist>
